.toolbar{
    background-color:cyan; 
    /* height:10px; */
    margin:0;
    margin-right: 6px;
    float: left;
    height: 30px;
    
}
.mainbar{
    float: left;
    background-color: red;
    width: 100%;
    /* height:20px; */
}
.clr{
    clear: both;
}
.tabs{
    background-color:darkred;
    float: left;
    width: 100%;
}
#sin{
    font-size: larger;
    font-weight: bolder;
    position: relative;
    padding-left: 4px;
    top: 4px;
}
body{
    margin:0;
    padding:0;
}
.sec{
   
    border-left :1px grey solid;
    text-transform: capitalize;
    float: left; 
    height: 30px;
}
